keras==3.13.2
keras-hub==0.26.0
keras-nlp==0.26.0
numpy==2.0.2
pillow==11.3.0
tensorflow==2.20.0
tensorflow-datasets==4.9.10
tensorflow-hub==0.16.1
tensorflow-metadata==1.21.0
tensorflow-probability==0.25.0
tensorflow-text==2.20.1
